body {
    font-family: 'Work Sans', sans-serif;
}

.mainDiv {
    height: 100vh;  
    padding-top: 5%;
    padding-left: 5%;  
}

.ss {
    padding-left: 17%;
}

h3 {
    font-size: 2.5rem;
    font-weight: bolder;
    letter-spacing: 2px;
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 65px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid rgb(217, 217, 221)
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue
}

.ss1 {
    padding-top: 3%;
}

.bgimg {
    position: relative;
    right: 20%;
    padding-top: 15%;
    
}

.img11 {
    height: 85%;
}

.ss3 {
    padding-right: 5em;
}

.abc {
    padding-top: 10px;
    font-size: 15px;
}

.btn1 {
    font-size: 17px; 
}
